**/\.*
client_server_onesided/cli_test/server_test_cli
client_server_onesided/cli_test/client_test_cli
client_server_onesided/tests/server_test
client_server_onesided/tests/client_test
client_server_onesided/tests/server_test_asan
client_server_onesided/tests/client_test_asan
client_server_onesided/tests/.test_kv_store_plain
client_server_onesided/tests/.test_kv_store_enc

client_server_twosided/server
client_server_twosided/client
client_server_twosided/CMakeFiles/**
client_server_twosided/build/**
!playground_onesided/
!client_server_twosided/
!**/*.[ch]
!**/*.sh
!**/Makefile
!.gitignore
