[submodule "client_server_twosided/eRPC"]
	path = client_server_twosided/eRPC
	url = https://github.com/erpc-io/eRPC
[submodule "client_server_twosided/dpdk"]
	path = client_server_twosided/dpdk
	url = https://github.com/DPDK/dpdk.git
